@{
    @model justAPlayMVC.Models.FeedbackForm
    ViewData["Title"] = "Sample Form with Model";
}
<h1>@ViewData["Title"]</h1>

<div class="twoCols">
    <div>
        <form asp-controller="Home" asp-action="SampleFormModel" method="post">
            <div>
                <label asp-for="Username">Name</label>
                <input asp-for="Username" placeholder="Please Add Your Name">
            </div>
            <div>
                <label asp-for="Email">Email</label>
                <input asp-for="Email" placeholder="Email Address">
            </div>
            <div>
                <label asp-for="Telephone">Telephone</label>
                <input type="tel" asp-for="Telephone" placeholder="Telephone Number">
            </div>
            <div>
                <label asp-for="Message">Message</label>
                <textarea asp-for="Message" placeholder="Your Message"></textarea>
            </div>
            <div>
                <label>Redirect: <input type="checkbox" name="RedirectMe" value="1" /></label>
            </div>
            <div class="submitContainer">
                <input type="submit" value="Send">
            </div>
        </form>
    </div>

    <div>
        @if (Model != null)
        {
            <h2>Submitted Data</h2>
            <table class="tableData">
                <tr>
                    <td>Name:</td>
                    <td>@Model.Username</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Tel:</td>
                    <td>@Model.Telephone</td>
                </tr>
                <tr>
                    <td>Message:</td>
                    <td>@Model.Message</td>
                </tr>
            </table>
        }

    </div>
</div>